.DS_Store
*.sublime-*
.sass-cache/
config.codekit
config.codekit3
.config.codekit
config.codekit3
.env
composer.phar
composer.lock

bootstrap/cache/
Homestead.yaml
Homestead.json
resources/assets/less/kule
resources/assets/.codekit-cache
resources/assets/config.codekit

!/resources/views/vendor/crudbooster/type_components
/vendor/**


#crudBooster START
public/uploads

#crudBooster END
/public/upload/**/*.jpg
/public/upload/**/*.jpeg
/public/upload/**/*.png
/public/upload/**/*.bmp
/public/upload/**/*.gif
/public/upload/**
/public/css/*.min.min.css
/public/less/kule
/public/.codekit-cache
/public/node_modules
/public/storage
/node_modules