@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500i,700");
@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
a, abbr, acronym, address, article, aside, audio, b, basefont, bdi, bdo, big, blockquote, body, canvas, caption, center, cite, code, command, datalist, dd, del, details, dfn, dialog, dir, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, frame, frameset, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, map, mark, menu, menuitem, meter, nav, noframes, noscript, object, ol, output, p, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, wbr {
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

article, aside, canvas, command, datalist, details, figcaption, figure, header, hgroup, main, nav, section, summary {
  display: block;
}

mark, output {
  display: inline-block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden], template, rp {
  display: none;
}

a {
  background: transparent;
  cursor: pointer;
}
a:active, a:hover {
  outline: 0;
}

[disabled] {
  cursor: disabled;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

address, b, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, i, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

a, del, ins, s {
  text-decoration: none;
}

abbr, acronym {
  font-variant: normal;
  cursor: help;
}
abbr[title], acronym[title] {
  border-bottom: 1px dotted;
}

ol, ul, menu, dir {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
  color: inherit;
  text-align: left;
  font: inherit;
}

table, td, th {
  table-layout: auto;
}

code, kbd, pre, samp, tt {
  font-size: 1em;
  font-family: monospace, sans-serif;
}

a, address, cite, em, i, ins, s, u, var, :link, :visited {
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

blockquote, caption, dd, div, dt, h1, h2, h3, h4, h5, h6, li, p, th, td {
  word-wrap: break-word;
}

caption, center, th {
  font-weight: normal;
  text-align: left;
}

xmp, plaintext, listing {
  font-family: inherit;
  white-space: normal;
}

img, embed, object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

hr {
  height: 0;
}

pre {
  overflow: auto;
}

:focus {
  outline: 0;
}

button, datagrid, input, isindex, keygen, optgroup, select, textarea {
  line-height: 1;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  color: inherit;
  letter-spacing: 0;
  word-spacing: 0;
}

input, select {
  vertical-align: middle;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

button {
  overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: none;
}

button, select {
  text-transform: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.clear {
  clear: both;
}

.clearfix, .author-header, .author-item, .event-data-content, .store-data-info, .art-item, .sitemap, #header, form, fieldset {
  *zoom: 1;
}
.clearfix:after, .author-header:after, .author-item:after, .event-data-content:after, .store-data-info:after, .art-item:after, .sitemap:after, #header:after, form:after, fieldset:after {
  content: "";
  display: table;
  clear: both;
}

.empty:empty {
  clear: both;
  display: none !important;
}

.align-center {
  text-align: center;
}

.paper {
  position: relative;
  z-index: 2;
  background: #FFF;
}
.paper:before, .paper:after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  top: 80%;
  bottom: 15px;
  max-width: 300px;
}
.paper:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.paper:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

form {
  padding: 30px;
  border: 1px solid #efefef;
  border-radius: 0 0 2px 2px;
  background: #fdfdfd;
}
form hr {
  border-top: 1px solid #efefef;
  margin: 30px 0;
}

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 0.875rem;
  color: #bebebe;
}

::-moz-placeholder {
  font-size: 14px;
  font-size: 0.875rem;
  color: #bebebe;
}

:-moz-placeholder {
  font-size: 14px;
  font-size: 0.875rem;
  color: #bebebe;
}

:-ms-input-placeholder {
  font-size: 14px;
  font-size: 0.875rem;
  color: #bebebe;
}

.ctrl-grp {
  margin-bottom: 20px;
}
.ctrl-grp.inline {
  margin-bottom: 0;
  vertical-align: top;
}
.ctrl-grp .ctrl-input {
  margin-bottom: 10px;
}

.ctrl-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #404040;
}

.ctrl-input {
  display: block;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  padding: 6px 12px;
  border: 1px solid #cfcfcf;
  margin-bottom: 10px;
  border-radius: 2px;
  color: #4a4a4a;
  background-color: #FFF;
  vertical-align: top;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ctrl-input:focus, .ctrl-input.focus {
  outline: 0;
  border-color: #2abeb9;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 8px rgba(49, 209, 204, 0.1);
  box-shadow: 0 0 8px rgba(49, 209, 204, 0.1);
}
.ctrl-input[disabled], .ctrl-input[readonly] {
  color: #9b9b9b;
  background-color: #f8f8f8;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}
.ctrl-input[readonly] {
  cursor: disabled;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.ctrl-input {
  height: 8.6em;
}

[contenteditable].ctrl-input {
  height: auto;
  max-height: 16.25rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: vertical;
}

select.ctrl-input {
  padding-right: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("img/select-arrow-small.png");
  background-size: contain;
}
select.ctrl-input.inline {
  width: auto;
}
.ie select.ctrl-input::-ms-expand {
  display: none;
}

.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: auto;
  min-width: 100px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border-color: #cfcfcf;
  background-color: #f2f2f2;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 -18px 36px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -18px 36px rgba(0, 0, 0, 0.05);
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  background-image: none;
  cursor: pointer;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: top;
  min-height: 36px;
  line-height: 22px;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
}

body {
  line-height: 1.625;
  color: #000;
  font-family: "cwTeXYen", Roboto, -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

select {
  display: block;
  width: 100%;
  padding: 5px 36px 5px 8px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  background: url("img/select-arrow-small.png") right center no-repeat #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#wrap {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

#header {
  position: relative;
  height: 64px;
  padding: 16px;
}
@media (min-width: 992px) {
  #header {
    padding: 16px 0px;
  }
}

.header-brand {
  position: relative;
  z-index: 11;
  float: left;
  width: 200px;
  height: 36px;
  background: url("img/logo.png") center no-repeat transparent;
}
@media (min-width: 992px) {
  .header-brand {
    margin-left: 30px;
  }
}

.header-menu-switch {
  display: block;
  position: relative;
  z-index: 16;
  float: right;
  width: 30px;
  height: 24px;
  border-top: 3px solid #bebebe;
  margin-top: 6px;
}
.header-menu-switch:before, .header-menu-switch:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #bebebe;
}
.header-menu-switch:before {
  top: 7px;
}
.header-menu-switch:after {
  bottom: 0;
}
.header-menu-switch.active {
  border-top: 0;
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header-menu-switch.active:after {
  bottom: 13px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header-menu-switch.active + .header_menu_wrap .header-menu {
  display: block;
}
@media (min-width: 992px) {
  .header-menu-switch {
    display: none;
  }
}

.header-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: #FFF;
  text-align: center;
}
@media (min-width: 992px) {
  .header-menu {
    display: inline-block;
    position: static;
    float: right;
    width: auto;
    height: auto;
    margin-right: 10px;
    padding: 6px 0;
    white-space: nowrap;
  }
}

.header-menu-item {
  display: block;
  margin: 20px 0;
  line-height: 2;
  font-size: 18px;
  font-size: 1.125rem;
  color: #000;
  opacity: 0.4;
  text-align: center;
}
.header-menu-item.lang_select {
  display: inline-block;
  padding: 4px 5px;
  border: 1px solid #31D1CC;
  border-radius: 3px;
  font-size: 14px;
  color: #31D1CC;
  opacity: 1;
}
.header-menu-item.active {
  opacity: 1;
}
@media (min-width: 992px) {
  .header-menu-item {
    display: inline-block;
    line-height: 1.3333333333;
    margin: 0 0 0 26px;
  }
  .header-menu-item.lang_select {
    display: inline-block;
    padding: 4px 5px;
    border: 1px solid #31D1CC;
    border-radius: 3px;
    font-size: 14px;
    color: #31D1CC;
  }
}

#footer {
  color: #bebebe;
  background: #2a2a2a;
}

.sitemap {
  width: 100%;
  max-width: 1120px;
  padding: 30px;
  margin: 0 auto;
}
.sitemap .section {
  display: none;
}
.sitemap .shares {
  padding: 30px 0 0;
  opacity: 0.7;
}
.sitemap .share-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  color: #bebebe;
}
.sitemap .share-item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .sitemap {
    padding: 30px 30px 60px;
  }
  .sitemap .section {
    display: block;
    float: left;
    margin-right: 80px;
  }
  .sitemap .shares {
    clear: both;
  }
}
@media (min-width: 992px) {
  .sitemap .shares {
    clear: none;
    float: right;
    padding: 40px 0 0;
  }
}

.sitemap-title {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 15px;
  line-height: 1.3333333333;
  font-size: 18px;
  font-size: 1.125rem;
  color: #d5d5d5;
  cursor: default;
}
.sitemap-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2em;
  height: 2px;
  background: #50E3C2;
}

.sitemap-link {
  display: block;
  line-height: 1.5;
  margin-bottom: 5px;
}

.mobile-sitemap {
  margin-bottom: 20px;
}
.mobile-sitemap > h6 {
  margin-bottom: 5px;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .mobile-sitemap {
    display: none;
  }
}

#copyright {
  padding: 10px 0;
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: center;
  color: #aeaeae;
  background: #FFF;
}

#main {
  padding-top: 30px;
  padding-bottom: 50px;
}

.pagi {
  margin: 20px auto;
  text-align: center;
}

.pagi-item {
  display: inline-block;
  vertical-align: top;
}
.pagi-item.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: grey;
  cursor: not-allowed;
}
.pagi-item.active .pagi-link {
  color: #FFF;
  background-color: #2abeb9;
  cursor: default;
}

.pagi-link,
.pagi-text {
  display: block;
  position: relative;
  min-width: 30px;
  line-height: 1.5714285714;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 4px;
  text-align: center;
  border-radius: 2px;
}

.pagi-text {
  color: grey;
  cursor: default;
}

.pagi-link {
  color: #26a9a5;
}

.pager {
  min-height: 40px;
  padding-top: 100px;
  text-align: center;
}

.pager-link {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  text-align: center;
  color: #555555;
}
@media (min-width: 768px) {
  .pager-link {
    display: inline-block;
    width: auto;
    min-width: 120px;
  }
  .pager-link.pager-prev {
    float: left;
  }
  .pager-link.pager-next {
    float: right;
  }
}

.cat-section + .cat-section {
  padding-top: 80px;
  border-top: 1px solid #efefef;
}

.cat-section-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  line-height: 1.25;
  font-size: 24px;
  font-size: 1.5rem;
  color: #9b9b9b;
  text-align: center;
}
.cat-section-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2em;
  height: 3px;
  margin-left: -1em;
  background: rgba(155, 155, 155, 0.4);
}

.cat-menu {
  display: none;
}
@media (min-width: 992px) {
  .cat-menu {
    display: block;
  }
}

.cat-menu-wrap {
  padding: 0 10px;
}

.cat-menu-bottom {
  padding-top: 100px;
  text-align: center;
}

.cat-menu-title {
  margin: 30px 0;
  line-height: 1.5;
  font-size: 36px;
  font-size: 2.25rem;
  text-align: center;
  color: #555555;
}
@media (min-width: 992px) {
  .cat-menu-title {
    text-align: left;
  }
}

.cat-menu-link {
  display: inline-block;
  position: relative;
  padding: 0 2px 13px;
  margin-right: 1em;
  line-height: 1.5;
  opacity: 0.54;
}
.cat-menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
}
.cat-menu-link.active {
  opacity: 0.87;
}
.cat-menu-link.active::after {
  background: #31D1CC;
}

.cat-menu-select {
  max-width: 400px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .cat-menu-select {
    display: none;
  }
}

.cover {
  display: block;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.art-item {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
}
.art-item:last-child {
  border-bottom: 0;
}
.art-item.sz-md .art-item-cover, .art-item.sz-lg .art-item-cover {
  float: none;
  width: 100%;
  padding-bottom: 60%;
  margin-bottom: 10px;
}
.art-item.sz-md .art-item-content, .art-item.sz-lg .art-item-content {
  margin-left: 0;
}
.art-item.sz-md .art-item-title, .art-item.sz-lg .art-item-title {
  line-height: 1.6;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.art-item.sz-md .art-item-meta,
.art-item.sz-md .art-item-intro, .art-item.sz-lg .art-item-meta,
.art-item.sz-lg .art-item-intro {
  display: block;
}
@media (min-width: 768px) {
  .art-item {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 80px;
  }
  .art-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #efefef;
  }
  .art-item:first-child:before {
    display: none;
  }
  .art-item.sz-md:before, .art-item.sz-lg:before {
    display: none;
  }
}
@media (min-width: 992px) {
  .art-item.sz-md .art-item-intro {
    display: none;
  }
  .art-item.sz-md .art-item-cover {
    padding-bottom: 60%;
  }
  .art-item.sz-md .art-item-title {
    line-height: 1.5;
    font-size: 24px;
    font-size: 1.5rem;
  }
  .art-item.sz-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: row-reverse;
    -webkit-box-flex-direction: row-reverse;
    -moz-box-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-flex-align-items: stretch;
    align-items: stretch;
    padding: 0 0 30px;
  }
  .art-item.sz-lg .art-item-cover,
.art-item.sz-lg .art-item-content {
    -moz-flex-grow: grow;
    -webkit-box-flex: grow;
        -ms-flex-positive: grow;
            flex-grow: grow;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .art-item.sz-lg .art-item-cover {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    max-width: 60%;
    padding-bottom: 36%;
    margin-bottom: 0;
  }
  .art-item.sz-lg .art-item-content {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    max-width: 40%;
    padding: 5.5555555556% 3.4722222222%;
  }
  .art-item.sz-lg .art-item-title {
    line-height: 1.4285714286;
    font-size: 28px;
    font-size: 1.75rem;
  }
  .art-item.sz-lg .art-item-intro {
    color: #4a4a4a;
  }
}

.tag {
  color: #fff;
  background-color: #ace;
  padding: 2px 4px;
  font-size: 0.9rem;
  position: relative;
  float: right;
  -webkit-box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .tag {
    padding: 4px 8px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hasLargeItem .art-item:nth-child(2n-1):before,
.onlySmallItem .art-item:nth-child(2n-1):before {
    display: none;
  }
}
@media (min-width: 992px) {
  .hasLargeItem .art-item:nth-child(4n-3):before,
.onlySmallItem .art-item:nth-child(4n-3):before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hasMediumItem .art-item:nth-child(2n+1):before {
    display: none;
  }
}
@media (min-width: 992px) {
  .hasMediumItem .art-item:nth-child(4n+1):before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hasGroupsItem .art-item:nth-child(2n):before {
    display: none;
  }
}
@media (min-width: 992px) {
  .hasGroupsItem .art-item:nth-child(3n-1):before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hasArticlesItem .art-item:nth-child(2n):before {
    display: none;
  }
}
@media (min-width: 992px) {
  .hasArticlesItem .art-item:nth-child(4n):before {
    display: none;
  }
}

.art-item-cover {
  float: left;
  width: 35%;
  padding-bottom: 24%;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .art-item-cover {
    float: none;
    width: 100%;
    padding-bottom: 60%;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.art-item-content {
  margin-left: 38%;
}
.art-item-content .recommend-person-sm {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .art-item-content {
    margin-left: 0;
  }
  .art-item-content .recommend-person-sm {
    padding-top: 0;
  }
}

.bookcover-wrap {
  float: left;
  width: 35%;
  max-width: 200px;
}
@media (min-width: 768px) {
  .bookcover-wrap {
    float: none;
    width: 100%;
    margin: 0 auto 15px;
  }
  .bookcover-wrap + .art-item-content {
    text-align: center;
  }
}

.art-item-bookcover {
  width: 100%;
  padding-bottom: 140.3100775194%;
}
@media (min-width: 768px) {
  .art-item-bookcover {
    width: 100%;
  }
}

.art-item-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.evt-item-meta {
  padding-top: 10px;
  color: #4a4a4a;
  line-height: 1.7142857143;
  font-size: 14px;
  font-size: 0.875rem;
}
.evt-item-meta .week {
  display: none;
}
@media (min-width: 768px) {
  .evt-item-meta {
    padding-top: 0;
    margin-bottom: 20px;
    line-height: 1.625;
    font-size: 16px;
    font-size: 1rem;
  }
  .evt-item-meta .week {
    display: inline;
  }
}

.art-item-meta {
  line-height: 1.8571428571;
  font-size: 14px;
  font-size: 0.875rem;
  color: #9b9b9b;
}
.art-item-meta .meta {
  display: inline-block;
  margin-right: 6px;
}

@media (min-width: 768px) {
  .art-item-title {
    line-height: 1.6;
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
}

.art-item-intro {
  display: none;
  color: #555555;
}
@media (min-width: 768px) {
  .art-item-intro {
    display: block;
  }
}

.recommend-person-sm {
  display: inline-block;
  margin-bottom: 15px;
}
.recommend-person-sm .art-item-avatar {
  float: left;
}
.recommend-person-sm.fixed {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
}
@media (min-width: 992px) {
  .recommend-person-sm.fixed {
    max-width: none;
    margin: 0 0 30px;
  }
}

.relations .art-item-meta {
  line-height: 1.9230769231;
  font-size: 13px;
  font-size: 0.8125rem;
}
.relations .art-item-title {
  line-height: 1.6666666667;
  font-size: 18px;
  font-size: 1.125rem;
}
.relations .art-item-intro {
  line-height: 1.6666666667;
  font-size: 15px;
  font-size: 0.9375rem;
}

.recommend-person-intro {
  margin-top: -3px;
  margin-left: 60px;
  text-align: left;
}
.recommend-person-intro small {
  line-height: 1;
  font-size: 12px;
  font-size: 0.75rem;
  color: #9b9b9b;
}
.recommend-person-intro span {
  line-height: 1.2222222222;
  font-size: 18px;
  font-size: 1.125rem;
  color: #636C76;
}

.more-btn {
  display: inline-block;
  min-width: 100px;
  height: 36px;
  line-height: 1;
  padding: 8px;
  border: 2px solid rgba(74, 197, 226, 0.5);
  border-radius: 20px;
  text-align: center;
  color: #9b9b9b;
  background: #FFF;
}

.lang-btn {
  display: inline-block;
  min-width: 100px;
  height: 36px;
  line-height: 1;
  padding: 8px;
  border: 2px solid #31D1CC;
  border-radius: 20px;
  text-align: center;
  color: #31D1CC;
  opacity: 1;
}

@media (min-width: 1200px) {
  .article-body {
    padding-right: 45px;
  }
}

.article-header {
  margin-bottom: 50px;
}

.article-metas {
  margin-bottom: 10px;
  line-height: 1.4285714286;
  font-size: 14px;
  font-size: 0.875rem;
  color: #9b9b9b;
}

.article-meta-item {
  margin-right: 10px;
}

.article-title {
  margin-bottom: 30px;
  line-height: 1.3888888889;
  font-size: 36px;
  font-size: 2.25rem;
}

.article-cover {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}

.article-lead {
  line-height: 1.6666666667;
  font-size: 18px;
  font-size: 1.125rem;
}

.article-editor {
  padding-bottom: 60px;
  line-height: 1.8;
  font-size: 18px;
  font-size: 1.125rem;
  color: #4a4a4a;
}
.article-editor h1:empty, .article-editor h2:empty, .article-editor h3:empty, .article-editor h4:empty, .article-editor h5:empty, .article-editor h6:empty,
.article-editor p:empty, .article-editor ol:empty, .article-editor ul:empty, .article-editor dl:empty {
  display: none;
}
.article-editor h2, .article-editor h3, .article-editor h4, .article-editor h5, .article-editor h6 {
  margin-bottom: 30px;
  color: #2a2a2a;
}
.article-editor h1 {
  display: none;
}
.article-editor h2 {
  line-height: 1.4285714286;
  font-size: 28px;
  font-size: 1.75rem;
}
.article-editor h3 {
  line-height: 1.5;
  font-size: 24px;
  font-size: 1.5rem;
}
.article-editor h4 {
  line-height: 1.5454545455;
  font-size: 22px;
  font-size: 1.375rem;
}
.article-editor h5 {
  line-height: 1.6;
  font-size: 20px;
  font-size: 1.25rem;
}
.article-editor p, .article-editor img {
  margin-bottom: 1.2em;
}
.article-editor strong, .article-editor b {
  font-weight: 700;
}
.article-editor em, .article-editor i {
  font-style: italic;
}
.article-editor u {
  text-decoration: underline;
}
.article-editor ol, .article-editor ul, .article-editor dl {
  margin-bottom: 1.625em;
}
.article-editor ol, .article-editor ul {
  padding-left: 2em;
}
.article-editor ol ol, .article-editor ol ul, .article-editor ul ol, .article-editor ul ul {
  position: relative;
  padding-left: 2em;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}
.article-editor ol ol, .article-editor ul ol {
  list-style: decimal;
}
.article-editor ol ul, .article-editor ul ul {
  list-style: disc;
}
.article-editor ol.no-bullet, .article-editor ul.no-bullet {
  list-style: none;
  padding-left: 0;
}
.article-editor ol {
  list-style: decimal;
}
.article-editor ul {
  list-style: disc;
}
.article-editor dt {
  font-weight: bold;
  color: #4a4a4a;
}
.article-editor li {
  margin-bottom: 10px;
}
.article-editor mark {
  display: inline-block;
  padding: 0 4px;
  background: #eeccad;
}
.article-editor sup, .article-editor sub {
  line-height: 1;
  font-size: 12px;
  font-size: 0.75rem;
}
.article-editor small {
  font-size: 87.5%;
}
.article-editor big {
  font-size: 125%;
}
.article-editor del {
  color: #ccc;
}
.article-editor ins {
  text-decoration: none;
  border-bottom: 1px dashed #999;
}
.article-editor a {
  color: #2abeb9;
  text-decoration: underline;
}
.article-editor hr {
  clear: both;
  border: none;
  border-top: 1px solid #e6e6e6;
  margin: 30px 0;
}
.article-editor blockquote {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 4em;
  margin: 20px 0;
  color: #4a4a4a;
}
.article-editor blockquote p {
  margin-bottom: 0;
}
.article-editor blockquote cite {
  display: block;
  margin-top: 1em;
  color: grey;
}
.article-editor blockquote cite:before, .article-editor blockquote cite:after {
  content: "— ";
}
.article-editor blockquote:before {
  content: "“";
  position: absolute;
  top: -0.2em;
  left: 0;
  font-size: 5em;
  font-family: Georgia, "Times New Roman", Times;
  color: #cccccc;
}
.article-editor address {
  display: inline-block;
  padding: 5px 20px;
  border-left: 5px solid #e6e6e6;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 0.875rem;
}
.article-editor address strong {
  display: block;
  margin-bottom: 5px;
}
.article-editor video, .article-editor iframe {
  max-width: 100%;
}

.article-bottom {
  margin-bottom: 100px;
}
.article-bottom .article-shares {
  padding: 50px 0 30px;
}

@media (min-width: 1200px) {
  .article-bottom-section {
    -moz-flex-grow: grow;
    -webkit-box-flex: grow;
        -ms-flex-positive: grow;
            flex-grow: grow;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.article-bottom-info {
  min-height: 188px;
  padding: 20px;
  border: 2px solid #DFDFDF;
  border-radius: 4px;
  background: #FBFBFB;
}

.store-data {
  color: #4a4a4a;
}

.store-data-name {
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 20px;
  font-size: 1.25rem;
  color: #636C76;
}

.store-data-info dt {
  clear: both;
  float: left;
  width: 80px;
}
.store-data-info dd {
  margin-left: 80px;
}
.store-data-info dd.pre {
  white-space: pre-line;
}
.store-data-info dd + dt, .store-data-info dd + dt + dd {
  margin-top: 6px;
}

.author-data {
  color: #4a4a4a;
}

.author-avatar {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .author-avatar {
    float: left;
  }
}

@media (min-width: 768px) {
  .author-content {
    margin-left: 150px;
  }
}

.author-name {
  line-height: 1.5555555556;
  font-size: 18px;
  font-size: 1.125rem;
  color: #636C76;
  text-align: center;
}
@media (min-width: 768px) {
  .author-name {
    text-align: left;
  }
}

.author-meta {
  margin-bottom: 50px;
  line-height: 1.4285714286;
  font-size: 14px;
  font-size: 0.875rem;
  color: #9b9b9b;
  text-align: center;
}
@media (min-width: 768px) {
  .author-meta {
    text-align: left;
    margin-bottom: 15px;
  }
}

.author-intro strong, .author-intro b {
  font-weight: 700;
}
.author-intro em, .author-intro i {
  font-style: italic;
}
.author-intro u {
  text-decoration: underline;
}
.author-intro ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.author-intro ol {
  list-style: lower-alpha;
  padding-left: 1.5rem;
}

.section-title {
  line-height: 1.5;
  font-size: 24px;
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.article-shares {
  color: #9b9b9b;
  white-space: nowrap;
  text-align: center;
}

.article-share-txt {
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  font-size: 14px;
  font-size: 0.875rem;
  vertical-align: top;
}
@media (min-width: 1200px) {
  .article-share-txt {
    line-height: 1.4285714286;
  }
}

.article-share-btn {
  display: inline-block;
  white-space: nowrap;
}

.article-share-item {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
  font-size: 28px;
  font-size: 1.75rem;
  color: rgba(0, 0, 0, 0.4);
}
.article-share-item:last-child {
  margin-right: 0;
}

.article-map {
  clear: both;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  border: 3px solid #ccc;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.13);
}
.article-map .googlemap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-side {
  padding-top: 100px;
}
@media (min-width: 992px) {
  .article-side {
    padding-top: 0;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .article-side:hover {
    opacity: 1;
  }
}

.side-section {
  margin-bottom: 30px;
}
.side-section .article-shares {
  display: none;
  padding: 40px 0 0;
  text-align: left;
}
@media (min-width: 992px) {
  .side-section:first-child {
    margin-top: 0;
  }
  .side-section .article-shares {
    display: block;
  }
}

.article-hots {
  padding: 5px 0;
  border: 1px solid #DFDFDF;
  background: #F5F5F5;
}

.article-hot-caption {
  padding-left: 10px;
  border-left: 3px solid #9b9b9b;
  color: #555555;
}

.article-hot-list {
  padding: 10px;
  color: #4a4a4a;
}

.article-hot-title {
  color: #2a2a2a;
}

.article-hot-intro {
  line-height: 1.5714285714;
  font-size: 14px;
  font-size: 0.875rem;
}

.article-hot-cover {
  padding-bottom: 53.3333333333%;
  margin-bottom: 10px;
}

.article-hot-item + .article-hot-item {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #DFDFDF;
}
.article-hot-item:first-child .article-hot-title {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-size: 1.25rem;
  color: #2a2a2a;
}

.guangao-item {
  display: block;
}
.guangao-item + .guangao-item {
  margin-top: 30px;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
  width: 100% !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: row;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-flex-align-items: stretch;
    align-items: stretch;
  }

  .side-section {
    -moz-flex-grow: grow;
    -webkit-box-flex: grow;
        -ms-flex-positive: grow;
            flex-grow: grow;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
  }
  .side-section:first-child {
    display: none;
  }
}
.book-header {
  max-width: 360px;
  padding-bottom: 80px;
  margin: 0 auto 30px;
  border-bottom: 1px solid #efefef;
}
@media (min-width: 992px) {
  .book-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: row;
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-flex-align-items: stretch;
    align-items: stretch;
    max-width: 100%;
    padding-top: 30px;
  }
}

.book-header-cover,
.book-header-data {
  -moz-flex-grow: grow;
  -webkit-box-flex: grow;
      -ms-flex-positive: grow;
          flex-grow: grow;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.book-header-cover {
  max-width: 360px;
  margin: 0 auto 30px;
}
@media (min-width: 992px) {
  .book-header-cover {
    -ms-flex-preferred-size: 37.5%;
        flex-basis: 37.5%;
    max-width: 37.5%;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .book-header-data {
    -ms-flex-preferred-size: 62.5%;
        flex-basis: 62.5%;
    max-width: 62.5%;
    padding-left: 30px;
  }
}

.book-header-title {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-size: 1.5rem;
  color: #000;
}

.book-header-info {
  color: #4a4a4a;
}
.book-header-info dt {
  float: left;
}
.book-header-info dd {
  min-height: 1em;
}
.book-header-info dd.fixed-width {
  margin-left: 80px;
}
.book-header-info dd + dt {
  clear: both;
  margin-top: 5px;
}
.book-header-info dd + dt + dd {
  margin-top: 5px;
}
.book-header-info a {
  text-decoration: underline;
}

.event-section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #efefef;
}

.event-data-content {
  padding-bottom: 30px;
}

.event-data-item {
  margin-bottom: 40px;
}

.event-data-item {
  color: #4a4a4a;
}
.event-data-item .icon {
  line-height: 1;
  font-size: 32px;
  font-size: 2rem;
}
.event-data-item dt {
  float: left;
  width: 32px;
  text-align: center;
  color: #2a2a2a;
}
.event-data-item dd {
  margin-left: 42px;
}
.event-data-item a {
  text-decoration: underline;
  color: #2abeb9;
}
@media (min-width: 768px) {
  .event-data-item {
    float: left;
    width: 50%;
  }
  .event-data-item:nth-child(2n-1) {
    clear: both;
  }
}

.event-header {
  padding-top: 30px;
}

.event-header-cover {
  padding-bottom: 60%;
  margin-bottom: 20px;
}

.event-header-title {
  line-height: 1.4;
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: 20px;
}

.event-header-meta {
  color: #4a4a4a;
}
.event-header-meta li {
  word-break: break-all;
}
.event-header-meta a {
  text-decoration: underline;
  color: #2abeb9;
}

.author-item {
  margin-bottom: 30px;
}

.author-item-cover {
  float: left;
  width: 35%;
  padding-bottom: 35%;
}

.author-item-content {
  margin-left: 40%;
}

.author-item-name {
  line-height: 1.3;
  font-size: 20px;
  font-size: 1.25rem;
  margin: 5px 0;
}

.author-item-intro {
  color: #9b9b9b;
}

.author-portfolio {
  margin-bottom: 100px;
}
.author-portfolio .art-item-title {
  line-height: 1.5555555556;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .author-portfolio .art-item:nth-child(2n-1):before {
    display: none;
  }
}
@media (min-width: 992px) {
  .author-portfolio .art-item:nth-child(3n-2):before {
    display: none;
  }
}

.author-portfolio-title {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 24px;
  font-size: 1.5rem;
  color: #4a4a4a;
  text-align: center;
}
@media (min-width: 768px) {
  .author-portfolio-title {
    text-align: left;
  }
}

.author-header {
  padding: 30px;
  margin: 30px 0 50px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  color: #555555;
  background: #f4f4f4;
}

.author-header-avatar {
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .author-header-avatar {
    float: left;
  }
}

.author-header-content {
  padding-top: 6px;
}
@media (min-width: 768px) {
  .author-header-content {
    margin-left: 158px;
    text-align: left;
  }
}
.author-header-content ul {
  list-style: disc;
  padding-left: 1.5rem;
}
.author-header-content ol {
  list-style: lower-alpha;
  padding-left: 1.5rem;
}

.author-header-name {
  line-height: 1.5;
  font-size: 24px;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}
@media (min-width: 768px) {
  .author-header-name {
    text-align: left;
  }
}

.author-header-meta {
  text-align: center;
}
@media (min-width: 768px) {
  .author-header-meta {
    text-align: left;
  }
}
.author-header-meta:empty {
  display: none;
}

.author-header-intro {
  margin-top: 20px;
  color: #4a4a4a;
  white-space: pre-line;
}

.static-title {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 32px;
  font-size: 2rem;
  color: #555555;
}

/* mobile */
.article-title {
  font-size: 24px;
}

#ad_001 {
  display: none;
}

#ad_002 {
  display: none;
}

#ad_001_m {
  width: 100%;
  max-width: 384px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#ad_001_m .close {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background: url("../ad_banners/icon_close.svg") no-repeat;
  background-size: 50%;
  z-index: 100;
}

@media (min-width: 992px) {
  .article-title {
    font-size: 36px;
  }

  /* pc */
  #ad_001_m {
    display: none;
  }

  #ad_002_m {
    display: none;
  }

  #ad_001 {
    display: block;
  }

  #ad_002 {
    display: block;
  }
}